In [211]:
import pandas as pd
import numpy as np

In [212]:
df1 = pd.read_csv('FactTable.csv')
df2 = pd.read_csv('CrimeTable.csv')
df3 = pd.read_csv('Schools_scores_2.csv')
df4 = pd.read_csv('grocery_score.csv')

In [213]:
df1.shape

(61, 8)

In [214]:
df2.shape

(157426, 5)

In [215]:
df3.head()

,Unnamed: 0,Zip_code,Total scores,# of schools,population,Per school,Per capita
0,0,60601,0.0,0.0,13695,0.0,0.000000
1,1,60602,6.0,2.0,1252,3.0,0.004792
2,2,60603,0.0,0.0,1029,0.0,0.000000
3,3,60604,0.0,0.0,619,0.0,0.000000
4,4,60605,4.0,1.0,26623,4.0,0.000150

In [216]:
df4.head()

   zip_code  count   sqft  population  count_score  sqft_score
0     60601      3  14260       13695     2.190581    1.041256
1     60602      0      0        1252     0.000000    0.000000
2     60603      0      0        1029     0.000000    0.000000
3     60604      0      0         619     0.000000    0.000000
4     60605      2  63221       26623     0.751230    2.374676

In [217]:
df5=df2.groupby('zip_code').count()

In [218]:
df2.head()

   crime_id        lat        lon crime_type  zip_code
0         1  41.911610 -87.679366      THEFT     60626
1         2  41.915498 -87.714054      THEFT     60626
2         3  41.930306 -87.709431    BATTERY     60626
3         4  41.925110 -87.725569      THEFT     60626
4         5  41.916496 -87.699277    BATTERY     60626

In [219]:
df5=df5.rename(columns={'crime_id':'# crimes'})
df5['zip_code'] = df5.index
df5.head()

          # crimes   lat   lon  crime_type  zip_code
zip_code
60601           61    61    61          61     60601
60602          263   263   263         263     60602
60603         6468  6468  6468        6468     60603
60604         1413  1413  1413        1413     60604
60605         2121  2121  2121        2121     60605

In [220]:
df6 = df2.drop(df2.loc[(df2['crime_type']=='OTHER OFFENSE')|
                       (df2['crime_type']=='OFFENSE INVOLVING CHILDREN')|
                       (df2['crime_type']=='CRIMINAL DAMAGE')|
                       (df2['crime_type']=='BURGLARY')|
                       (df2['crime_type']=='DECEPTIVE PRACTICE')|
                       (df2['crime_type']=='INTERFERENCE WITH PUBLIC OFFICER')|
                       (df2['crime_type']=='CRIMINAL TRESPASS')|
                       (df2['crime_type']=='NARCOTICS')|
                       (df2['crime_type']=='WEAPONS VIOLATION')|
                       (df2['crime_type']=='PUBLIC PEACE VIOLATION')|
                       (df2['crime_type']=='LIQUOR LAW VIOLATION')|
                       (df2['crime_type']=='OBSCENITY')|
                       (df2['crime_type']=='INTIMIDATION')|
                       (df2['crime_type']=='GAMBLING')|
                       (df2['crime_type']=='PROSTITUTION')|
                       (df2['crime_type']=='CONCEALED CARRY LICENSE VIOLATION')|
                       (df2['crime_type']=='NON-CRIMINAL')|
                       (df2['crime_type']=='PUBLIC INDECENCY')|
                       (df2['crime_type']=='OTHER NARCOTIC VIOLATION')].index)

In [221]:
df6=df6.groupby('zip_code').count()
df6=df6.rename(columns={'crime_id':'# violent crimes'})
df6['zip_code'] = df6.index
df6.head()

          # violent crimes   lat   lon  crime_type  zip_code
zip_code
60601                   33    33    33          33     60601
60602                  157   157   157         157     60602
60603                 3479  3479  3479        3479     60603
60604                  847   847   847         847     60604
60605                 1312  1312  1312        1312     60605

In [222]:
dfzip2 = pd.read_csv('Zip Property Values.csv')
df7 = dfzip2['zip_code']
df7 = pd.DataFrame(df7)
df3.rename(columns={'Zip_code':'zip_code'}, inplace=True)
df3=df3.drop(columns=['Unnamed: 0'])

In [223]:
df3.head()

   zip_code  Total scores  # of schools  population  Per school  Per capita
0     60601           0.0           0.0       13695         0.0    0.000000
1     60602           6.0           2.0        1252         3.0    0.004792
2     60603           0.0           0.0        1029         0.0    0.000000
3     60604           0.0           0.0         619         0.0    0.000000
4     60605           4.0           1.0       26623         4.0    0.000150

In [224]:
dfzip2.head()

,Unnamed: 0,zip_code,predicted_aug_value,actual_aug_value,difference,count_groceries,violent_crime_score,non_violent_crime_score,business_score,school_score
0,1,60601,NaN,3.795984e+05,NaN,NaN,NaN,NaN,NaN,NaN
1,2,60602,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
2,3,60603,NaN,1.018808e+06,NaN,NaN,NaN,NaN,NaN,NaN
3,4,60604,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
4,5,60605,NaN,6.392868e+05,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
df8 = pd.merge(dfzip2[['zip_code']],df3[['zip_code','population','# of schools']],
#               df4[['zip_code','count']],
#               df5[['zip_code','# crimes']],
#               df6[['zip_code','# violent crimes']],
               on='zip_code',how='left')

In [226]:
df5.reset_index(drop = True, inplace=True)
df6.reset_index(drop = True, inplace=True)

In [227]:
df8=df8.merge(df4[['zip_code','count','sqft']],on='zip_code',how='left').fillna(0.0)
df8=df8.merge(df5[['zip_code','# crimes']],on='zip_code',how='left').fillna(0.0)
df8=df8.merge(df6[['zip_code','# violent crimes']],on='zip_code',how='left').fillna(0.0)
df8

,zip_code,population,# of schools,count,sqft,# crimes,# violent crimes
0,60601,13695,0.0,3,14260,61.0,33.0
1,60602,1252,2.0,0,0,263.0,157.0
2,60603,1029,0.0,0,0,6468.0,3479.0
3,60604,619,0.0,0,0,1413.0,847.0
4,60605,26623,1.0,2,63221,2121.0,1312.0
5,60606,3011,0.0,0,0,463.0,272.0
6,60607,28377,6.0,4,97310,735.0,515.0
7,60608,78072,27.0,17,261801,4063.0,2389.0
8,60609,62250,27.0,17,222814,2749.0,1877.0
9,60610,38438,8.0,11,200940,2118.0,1495.0
10,60611,31563,0.0,5,77836,694.0,416.0
11,60612,35559,25.0,4,20984,2741.0,1850.0
12,60613,49519,7.0,9,146680,1381.0,886.0
13,60614,69817,7.0,10,136787,5736.0,3398.0
14,60615,40257,9.0,4,42047,1426.0,845.0
15,60616,52580,16.0,8,121039,5343.0,2999.0
16,60617,80002,27.0,14,206545,1229.0,693.0
17,60618,95632,19.0,17,257688,4607.0,2679.0
18,60619,62822,19.0,9,90587,6373.0,3671.0
19,60620,69299,22.0,15,241698,7667.0,4416.0
20,60621,31383,16.0,4,27910,2137.0,1326.0
21,60622,54467,16.0,12,152134,2434.0,1469.0
22,60623,88137,35.0,22,149118,6670.0,3441.0
23,60624,38134,19.0,6,40365,460.0,252.0
24,60625,79157,15.0,9,121486,5052.0,2546.0
25,60626,50090,7.0,10,133089,3402.0,2135.0
26,60628,68077,25.0,11,166628,3024.0,1781.0
27,60629,115104,21.0,15,108700,4627.0,2732.0
28,60630,57627,4.0,8,109791,608.0,418.0
29,60631,28238,7.0,2,14500,1560.0,1270.0
...,...,...,...,...,...,...,...
34,60637,49158,16.0,8,83703,4592.0,2755.0
35,60638,57746,9.0,5,143642,2556.0,1516.0
36,60639,90211,16.0,29,373286,975.0,682.0
37,60640,67088,6.0,15,193854,2761.0,1812.0
38,60641,70642,12.0,10,107400,3175.0,2174.0
39,60642,19508,7.0,1,74883,632.0,417.0
40,60643,50507,21.0,7,118071,4944.0,2961.0
41,60644,49645,15.0,6,56726,432.0,222.0
42,60645,47131,6.0,4,74488,3509.0,2124.0
43,60646,27454,4.0,5,49836,1592.0,1122.0
44,60647,88866,14.0,15,213457,453.0,219.0
45,60649,45218,10.0,6,65618,4493.0,2572.0
46,60651,61759,15.0,7,45121,3976.0,2311.0
47,60652,43228,11.0,2,103900,2492.0,1646.0
48,60653,31045,13.0,3,46500,2117.0,1247.0
49,60654,17328,0.0,0,0,2155.0,1525.0
50,60655,28741,5.0,3,43361,1386.0,940.0
51,60656,27926,4.0,2,47097,819.0,454.0
52,60657,70105,6.0,5,67230,1379.0,710.0
53,60659,38995,7.0,14,66771,1191.0,718.0
54,60660,41490,5.0,7,58881,503.0,316.0
55,60661,9343,0.0,3,44965,7194.0,3343.0
56,60706,23604,0.0,0,0,0.0,0.0
57,60707,43451,2.0,2,15179,1688.0,1162.0
58,60712,12637,0.0,0,0,0.0,0.0
59,60714,29730,0.0,0,0,0.0,0.0
60,60803,22762,0.0,0,0,0.0,0.0
61,60804,83972,0.0,0,0,0.0,0.0
62,60805,19849,0.0,0,0,0.0,0.0
63,60827,28864,5.0,1,10001,2333.0,1697.0

In [232]:
df8=df8.rename(columns={'zip_code':'Zip_code'})

In [233]:
df0=df1.merge(df8,on='Zip_code',how='left').fillna(0.0)

In [235]:
df0=df0.rename(columns={'count':'# stores'})
df0=df0.rename(columns={'sqft':'total store sqft'})
df0

,Zip_code,predicted_aug_value,actual_aug_value,difference,count_groceries,crime_score,business_score,school_score,population,# of schools,# stores,total store sqft,# crimes,# violent crimes
0,60601,3.637918e+05,3.795984e+05,15806.615719,1.041256,0.012632,7.287331,0.000000,13695,0.0,3,14260,61.0,33.0
1,60603,1.003717e+06,1.018808e+06,15091.015251,0.000000,18.643343,68.707483,0.000000,1029,0.0,0,0,6468.0,3479.0
2,60605,4.929075e+05,6.392868e+05,146379.350275,2.374676,0.237426,2.415205,4.000000,26623,1.0,2,63221,2121.0,1312.0
3,60606,7.956487e+05,3.601835e+05,-435465.218821,0.000000,0.441714,31.351710,0.000000,3011,0.0,0,0,463.0,272.0
4,60607,5.571572e+05,5.499115e+05,-7245.770139,3.429186,0.072418,3.819995,3.333333,28377,6.0,4,97310,735.0,515.0
5,60608,4.654059e+05,2.998910e+05,-165514.951408,3.353328,0.157560,0.920945,2.740741,78072,27.0,17,261801,4063.0,2389.0
6,60609,4.467320e+05,1.968708e+05,-249861.251599,3.579341,0.127470,0.565462,2.148148,62250,27.0,17,222814,2749.0,1877.0
7,60610,6.098921e+05,1.283389e+06,673496.668234,5.227639,0.160336,2.206150,3.125000,38438,8.0,11,200940,2118.0,1495.0
8,60611,4.046241e+05,1.138378e+06,733754.251723,2.466052,0.056965,5.598327,0.000000,31563,0.0,5,77836,694.0,416.0
9,60612,2.782812e+05,3.718277e+05,93546.490644,0.590118,0.221491,0.635563,2.040000,35559,25.0,4,20984,2741.0,1850.0
10,60613,4.899393e+05,8.293349e+05,339395.571403,2.962095,0.079162,1.353016,3.571429,49519,7.0,9,146680,1381.0,886.0
11,60614,4.455243e+05,1.317751e+06,872226.552309,1.959222,0.254236,1.817609,3.714286,69817,7.0,10,136787,5736.0,3398.0
12,60615,3.207866e+05,6.143568e+05,293570.237355,1.044464,0.103286,0.730308,2.333333,40257,9.0,4,42047,1426.0,845.0
13,60616,4.136473e+05,4.085655e+05,-5081.755109,2.301997,0.304564,1.629897,2.625000,52580,16.0,8,121039,5343.0,2999.0
14,60617,4.129495e+05,1.168622e+05,-296087.293203,2.581748,0.044261,0.539987,2.592593,80002,27.0,14,206545,1229.0,693.0
15,60618,4.424338e+05,5.917655e+05,149331.697733,2.694579,0.145192,1.108416,2.947368,95632,19.0,17,257688,4607.0,2679.0
16,60619,3.403026e+05,1.276518e+05,-212650.864220,1.441963,0.307965,0.555538,2.526316,62822,19.0,9,90587,6373.0,3671.0
17,60620,4.517075e+05,1.204388e+05,-331268.692458,3.487756,0.332140,0.473311,2.590909,69299,22.0,15,241698,7667.0,4416.0
18,60621,2.771897e+05,9.033810e+04,-186851.612916,0.889335,0.204761,0.105152,1.875000,31383,16.0,4,27910,2137.0,1326.0
19,60622,4.470943e+05,7.001690e+05,253074.683546,2.793141,0.132612,1.942461,2.500000,54467,16.0,12,152134,2434.0,1469.0
20,60623,3.509122e+05,1.662472e+05,-184665.072274,1.691889,0.229858,0.489011,2.428571,88137,35.0,22,149118,6670.0,3441.0
21,60624,3.129183e+05,1.813711e+05,-131547.198974,1.058504,0.033776,-0.170452,2.526316,38134,19.0,6,40365,460.0,252.0
22,60625,3.975839e+05,4.929266e+05,95342.723844,1.534747,0.193881,0.893162,3.533333,79157,15.0,9,121486,5052.0,2546.0
23,60626,4.228963e+05,3.388263e+05,-84070.058007,2.656997,0.197465,0.527051,2.857143,50090,7.0,10,133089,3402.0,2135.0
24,60628,3.740141e+05,9.630324e+04,-277710.845588,2.447640,0.134054,0.331977,2.000000,68077,25.0,11,166628,3024.0,1781.0
25,60629,3.281471e+05,1.782336e+05,-149913.518846,0.944363,0.122289,0.429177,2.809524,115104,21.0,15,108700,4627.0,2732.0
26,60630,4.276849e+05,3.235282e+05,-104156.621312,1.905201,0.029396,0.694119,3.750000,57627,4.0,8,109791,608.0,418.0
27,60631,3.190125e+05,3.725411e+05,53528.596464,0.513492,0.155464,1.352787,2.714286,28238,7.0,2,14500,1560.0,1270.0
28,60632,4.493249e+05,1.858264e+05,-263498.498720,2.882064,0.091417,0.628354,3.068966,91668,29.0,18,264193,2804.0,1588.0
29,60633,2.695206e+05,1.329269e+05,-136593.661755,0.608567,0.233830,0.265273,2.000000,12817,2.0,1,7800,1029.0,658.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,60636,3.887790e+05,6.910142e+04,-319677.562186,3.333967,0.211549,0.120182,1.357143,35779,14.0,9,119286,2557.0,1605.0
32,60637,3.457728e+05,3.291685e+05,-16604.253990,1.702734,0.285752,0.280727,2.437500,49158,16.0,8,83703,4592.0,2755.0
33,60638,4.040131e+05,2.341613e+05,-169851.881386,2.487480,0.127541,0.555883,2.555556,57746,9.0,5,143642,2556.0,1516.0
34,60639,4.974936e+05,2.458012e+05,-251692.429553,4.137921,0.028943,0.574209,2.562500,90211,16.0,29,373286,975.0,682.0
35,60640,4.420670e+05,5.695292e+05,127462.262974,2.889548,0.122362,1.104519,2.666667,67088,6.0,15,193854,2761.0,1812.0
36,60641,3.630463e+05,3.368960e+05,-26150.303734,1.520342,0.121642,0.883327,2.666667,70642,12.0,10,107400,3175.0,2174.0
37,60642,5.543578e+05,5.816002e+05,27242.329387,3.838579,0.087759,3.019274,3.142857,19508,7.0,1,74883,632.0,417.0
38,60643,3.781259e+05,2.130501e+05,-165075.841020,2.337716,0.284990,0.665254,2.190476,50507,21.0,7,118071,4944.0,2961.0
39,60644,3.145898e+05,1.588059e+05,-155783.822304,1.142633,0.023446,0.189344,2.266667,49645,15.0,6,56726,432.0,222.0
40,60645,3.953121e+05,3.552841e+05,-40027.966785,1.580446,0.222126,0.443445,3.666667,47131,6.0,4,74488,3509.0,2124.0
41,60646,4.352871e+05,4.066312e+05,-28655.918813,1.815255,0.160159,0.994391,4.000000,27454,4.0,5,49836,1592.0,1122.0
42,60647,4.221361e+05,5.393631e+05,117226.923653,2.402010,0.013548,1.303086,2.642857,88866,14.0,15,213457,453.0,219.0
43,60649,3.345525e+05,1.528237e+05,-181728.816375,1.451148,0.308130,0.506435,2.400000,45218,10.0,6,65618,4493.0,2572.0
44,60651,3.086147e+05,1.992605e+05,-109354.111735,0.730598,0.193947,0.176492,2.800000,61759,15.0,7,45121,3976.0,2311.0
45,60652,4.063907e+05,1.846765e+05,-221714.225790,2.403535,0.170700,0.793467,2.636364,43228,11.0,2,103900,2492.0,1646.0
46,60653,3.344406e+05,3.452736e+05,10832.917469,1.497826,0.202770,0.708649,2.153846,31045,13.0,3,46500,2117.0,1247.0
47,60654,2.942965e+05,9.570566e+05,662760.137275,0.000000,0.351627,7.179132,0.000000,17328,0.0,0,0,2155.0,1525.0
48,60655,3.758084e+05,2.462317e+05,-129576.746159,1.508681,0.140705,0.497547,3.200000,28741,5.0,3,43361,1386.0,940.0
49,60656,3.716800e+05,3.134014e+05,-58278.581480,1.686493,0.090131,0.651722,2.750000,27926,4.0,2,47097,819.0,454.0
50,60657,3.836952e+05,8.830225e+05,499327.380017,0.958990,0.054861,1.584766,3.500000,70105,6.0,5,67230,1379.0,710.0
51,60659,4.096049e+05,3.704327e+05,-39172.205242,1.712296,0.088345,1.338633,3.285714,38995,7.0,14,66771,1191.0,718.0
52,60660,3.783472e+05,4.777304e+05,99383.241743,1.419161,0.035382,0.694143,3.200000,41490,5.0,7,58881,503.0,316.0
53,60661,4.593271e+05,4.119463e+05,-47380.757747,4.812694,2.329016,5.522851,0.000000,9343,0.0,3,44965,7194.0,3343.0
54,60706,1.584180e+05,2.768520e+05,118433.984234,0.000000,0.000000,0.135570,0.000000,23604,0.0,0,0,0.0,0.0
55,60707,2.839693e+05,2.743708e+05,-9598.521815,0.349336,0.109342,0.455686,2.500000,43451,2.0,2,15179,1688.0,1162.0
56,60712,1.598817e+05,3.081277e+05,148245.982718,0.000000,0.000000,0.205745,0.000000,12637,0.0,0,0,0.0,0.0
57,60803,1.583393e+05,1.186040e+05,-39735.349115,0.000000,0.000000,0.131799,0.000000,22762,0.0,0,0,0.0,0.0
58,60804,1.569068e+05,1.644000e+05,7493.190228,0.000000,0.000000,0.063116,0.000000,83972,0.0,0,0,0.0,0.0
59,60805,1.567463e+05,1.541716e+05,-2574.680368,0.000000,0.000000,0.055418,0.000000,19849,0.0,0,0,0.0,0.0
60,60827,2.420901e+05,4.174552e+04,-200344.584358,0.346487,0.232677,0.027716,1.800000,28864,5.0,1,10001,2333.0,1697.0

In [236]:
df0.to_csv('property_for_mongodb.csv')

In [237]:
df0.to_json('property.json')

In [241]:
df0.dtypes

Zip_code                 int64
predicted_aug_value    float64
actual_aug_value       float64
difference             float64
count_groceries        float64
crime_score            float64
business_score         float64
school_score           float64
population               int64
# of schools           float64
# stores                 int64
total store sqft         int64
# crimes               float64
# violent crimes       float64
dtype: object